<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:pastefromclipboard" type="Sitecore.Shell.Framework.Commands.PasteFromClipboard,Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.Support.Shell.Framework.Commands.PasteFromClipboard,Sitecore.Support.104112</patch:attribute>
      </command>
    </commands>
    <processors>
      <uiCopyItems>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="Execute">
          <patch:attribute name="type">Sitecore.Support.Shell.Framework.Pipelines.CopyItems,Sitecore.Support.104112</patch:attribute>
        </processor>
      </uiCopyItems>
      <uiDuplicateItem>
        <processor mode="on" patch:before="*[@method='Execute']" type="Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets"    method="Execute">
          <patch:attribute name="type">Sitecore.Support.Buckets.Pipelines.UI.ItemDuplicate,Sitecore.Support.104112</patch:attribute>
        </processor>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>